<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <context-param>
    <param-name>ip</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>dbName</param-name>
    <param-value>radiolab</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>YourUserName</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>YourPassword</param-value>
  </context-param>
    <context-param>
    <param-name>secret</param-name>
    <param-value>YourSecretKey</param-value>
  </context-param>
  <display-name>Radiolab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPazienteServlet</display-name>
    <servlet-name>LoginPazienteServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.LoginPazienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPazienteServlet</servlet-name>
    <url-pattern>/LoginPazienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginImpiegatoServlet</display-name>
    <servlet-name>LoginImpiegatoServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.LoginImpiegatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginImpiegatoServlet</servlet-name>
    <url-pattern>/LoginImpiegatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPrestazioniServlet</display-name>
    <servlet-name>ListaPrestazioniServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.ListaPrestazioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPrestazioniServlet</servlet-name>
    <url-pattern>/ListaPrestazioniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionePrenotazioniServlet</display-name>
    <servlet-name>GestionePrenotazioniServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.GestionePrenotazioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionePrenotazioniServlet</servlet-name>
    <url-pattern>/GestionePrenotazioniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppuntamentiServlet</display-name>
    <servlet-name>AppuntamentiServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.AppuntamentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppuntamentiServlet</servlet-name>
    <url-pattern>/AppuntamentiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PazienteServlet</display-name>
    <servlet-name>PazienteServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.PazienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PazienteServlet</servlet-name>
    <url-pattern>/PazienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoSediServlet</display-name>
    <servlet-name>InfoSediServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.InfoSediServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoSediServlet</servlet-name>
    <url-pattern>/InfoSediServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImpiegatoServlet</display-name>
    <servlet-name>ImpiegatoServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.ImpiegatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImpiegatoServlet</servlet-name>
    <url-pattern>/ImpiegatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticaPrenotazioniServlet</display-name>
    <servlet-name>StatisticaPrenotazioniServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.radiolab.servlet.StatisticaPrenotazioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticaPrenotazioniServlet</servlet-name>
    <url-pattern>/StatisticaPrenotazioniServlet</url-pattern>
  </servlet-mapping>
</web-app>